flow.json
[
    {
        "id": "e2d701b4e32df305",
        "type": "tab",
        "label": "Envio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfd5234e75c9bc2c",
        "type": "tab",
        "label": "Recepción",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cdb68cd5a6c972d7",
        "type": "firebase config",
        "firebaseurl": "cila-1-c09d7-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "14510b9e4ba804ba",
        "type": "firebase modify",
        "z": "e2d701b4e32df305",
        "name": "voltage",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "Voltage",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d5dab8a863eb5555",
        "type": "function",
        "z": "e2d701b4e32df305",
        "name": "Generar Valores",
        "func": "msg.payload = getRandomArbitrary(430,445),\nnode.status({fill:\"blue\",shape:\"ring\",text:\"value\" + msg.payload});\nreturn msg;\n// funcion para generar numeros aleatorios\nfunction getRandomArbitrary(min, max, entero = false,decimal = 2) {//Funcion para generar numero random\n    if (entero) {\n        return parseInt(Math.random() * (max - min) + min);\n    } else {\n        return parseFloat(Math.random() * (max - min) + min).toFixed(decimal);\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "14510b9e4ba804ba"
            ]
        ]
    },
    {
        "id": "9b529be1678f1e87",
        "type": "inject",
        "z": "e2d701b4e32df305",
        "name": "",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "d5dab8a863eb5555",
                "08083107fe307cb1",
                "740aa2f5b434f185",
                "f08730c5165eb230",
                "3e38d10398712abb"
            ]
        ]
    },
    {
        "id": "08083107fe307cb1",
        "type": "function",
        "z": "e2d701b4e32df305",
        "name": "Generar Valores",
        "func": "msg.payload = getRandomArbitrary(60,65),\nnode.status({fill:\"blue\",shape:\"ring\",text:\"value\" + msg.payload});\nreturn msg;\n// funcion para generar numeros aleatorios\nfunction getRandomArbitrary(min, max, entero = false,decimal = 2) {//Funcion para generar numero random\n    if (entero) {\n        return parseInt(Math.random() * (max - min) + min);\n    } else {\n        return parseFloat(Math.random() * (max - min) + min).toFixed(decimal);\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "920a18193e5c70d8"
            ]
        ]
    },
    {
        "id": "920a18193e5c70d8",
        "type": "firebase modify",
        "z": "e2d701b4e32df305",
        "name": "Current",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "Current",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 600,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fdeaa38a85f73a8c",
        "type": "firebase modify",
        "z": "e2d701b4e32df305",
        "name": "PQA",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "PQA",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 590,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "740aa2f5b434f185",
        "type": "function",
        "z": "e2d701b4e32df305",
        "name": "",
        "func": "msg.key = \"PQA\"\nmsg.payload = { \"Current\": getRandomArbitrary(10,20), \"Voltage\": getRandomArbitrary(10,12) };\nreturn msg;\nfunction getRandomArbitrary(min, max, entero = false, decimal = 2) {//Funcion para generar numero random\n    if (entero) {\n        return parseInt(Math.random() * (max - min) + min);\n    } else {\n        return parseFloat(Math.random() * (max - min) + min).toFixed(decimal);\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "fdeaa38a85f73a8c"
            ]
        ]
    },
    {
        "id": "f08730c5165eb230",
        "type": "function",
        "z": "e2d701b4e32df305",
        "name": "referencia global",
        "func": "var reference = global.get('Referencia')||0;\ncontext.set('monitoreo',reference);\nnode.status({fill:\"red\",shape:\"ring\",text:\"referencia\" + reference});\nmsg.payload = reference;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "abbc16a765ce1b85",
                "ca4f31f1998f863d"
            ]
        ]
    },
    {
        "id": "abbc16a765ce1b85",
        "type": "debug",
        "z": "e2d701b4e32df305",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "ca4f31f1998f863d",
        "type": "function",
        "z": "e2d701b4e32df305",
        "name": "",
        "func": "var data = msg.payload;\nnode.status({fill:\"red\",shape:\"ring\",text:\"Data\" + data});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "75746c1cf1f1c889",
        "type": "firebase modify",
        "z": "e2d701b4e32df305",
        "name": "referenciaFeedback",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "referenciaFeedback",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3e38d10398712abb",
        "type": "function",
        "z": "e2d701b4e32df305",
        "name": "",
        "func": "msg.payload = global.get('Referencia')||0;\nnode.status({fill:\"blue\",shape:\"dot\",text:\"message\" + msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "75746c1cf1f1c889"
            ]
        ]
    },
    {
        "id": "7d6087ec82a9fb5d",
        "type": "change",
        "z": "e2d701b4e32df305",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a9f39494661ce5",
        "type": "firebase.on",
        "z": "dfd5234e75c9bc2c",
        "name": "Voltage",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "Voltage",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 270,
        "y": 160,
        "wires": [
            [
                "402e68ad7a694cc0"
            ]
        ]
    },
    {
        "id": "402e68ad7a694cc0",
        "type": "debug",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "6045356a2a6350bd",
        "type": "firebase.on",
        "z": "dfd5234e75c9bc2c",
        "name": "Current",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "Current",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "f9725ee1275e8af1",
                "4aca522189583f56"
            ]
        ]
    },
    {
        "id": "f9725ee1275e8af1",
        "type": "debug",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "c18805d493a9b649",
        "type": "firebase.on",
        "z": "dfd5234e75c9bc2c",
        "name": "Referencia",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "Referencia",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 260,
        "y": 340,
        "wires": [
            [
                "a65c55f2a1370857",
                "c6f20766e977bc65"
            ]
        ]
    },
    {
        "id": "a65c55f2a1370857",
        "type": "debug",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "41bee8e012b1e054",
        "type": "firebase.on",
        "z": "dfd5234e75c9bc2c",
        "name": "PQA",
        "firebaseconfig": "cdb68cd5a6c972d7",
        "childpath": "PQA",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "98fb4ccc7ddb0857",
                "d00336baafe91239"
            ]
        ]
    },
    {
        "id": "98fb4ccc7ddb0857",
        "type": "debug",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "c6f20766e977bc65",
        "type": "function",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "func": "var referencia = msg.payload;\nnode.status({fill:\"red\",shape:\"ring\",text:\"Ref \" + referencia});\nglobal.set('Referencia',referencia);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4aca522189583f56",
        "type": "function",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "func": "var data = msg.payload;\ncontext.set('data',data,'memoryOnly');\nflow.set('data',data,'memoryOnly');\ncontext.set('data1',data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d00336baafe91239",
        "type": "function",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "func": "var objeto = msg;\ncontext.set('objeto',objeto,'memoryOnly');\nvar voltaje = objeto.payload.Voltage;\n\nnode.status({fill:\"red\",shape:\"ring\",text:\"message\" + voltaje});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c3a765d45348d24c",
        "type": "function",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "func": "var objeto = {\n    vibracion:10,\n    motor:'Imanes',\n    marca:'Siemens',\n}\ncontext.set('variables',objeto,'memoryOnly');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2e2a61d21632df13",
        "type": "inject",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 120,
        "wires": [
            [
                "c3a765d45348d24c"
            ]
        ]
    },
    {
        "id": "fb0610970200dfb2",
        "type": "function",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "func": "var payload = msg.payload; //get payload\nmsg.payload = payload.toUpperCase(); //convert to uppercase\nvar topic = msg.topic; //get topic\nmsg.topic = topic.toUpperCase();//convert to uppercase\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 200,
        "wires": [
            [
                "986f56ffd0657d71"
            ]
        ]
    },
    {
        "id": "d1a22c9d1f4b05f6",
        "type": "inject",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Hola",
        "payload": "Juan",
        "payloadType": "str",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "fb0610970200dfb2"
            ]
        ]
    },
    {
        "id": "986f56ffd0657d71",
        "type": "debug",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9aa89ab8ee73e20",
        "type": "switch",
        "z": "dfd5234e75c9bc2c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 340,
        "wires": [
            []
        ]
    }
]